
body {
  font-family: 'Open Sans', sans-serif;
  color: #DEAF9C;
  margin: 0;
  padding: 0;
}

.container {
  
  background-image: 
  url("https://masterpiecer-images.s3.yandex.net/7b4c995043e111eebf376a2aaa288599:upscaled");
  background-size: 200;
  background-position: center ;
  overflow-y: scroll; 
  height: 100vh;
}

/* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/

.burger-button {
  position:fixed;
  top: 2vh;
  left: 2vh;
  z-index: 9;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid #ff3c00;
  background-color: #ff3c00;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: rgb(201, 19, 19);
  background-color:rgb(131, 21, 21);
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: 0vh;
    right:100vw;
    left: -100vw;
    bottom: 0vh;
    background-color: #ff3c00d3;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
  width:15vw
}
.burger-menu.active{
  right:10vw;
  left:0;
}
.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
